.home-icon-container {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9e9e9;
  border-radius: 20px;
}
.blog-post-content {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blog-post {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4%;
}

.blog-title {
  height: 60px;
  text-align: center;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.blog-body {
  height: 443px;

  font-weight: 300;
  font-size: 34px;
  line-height: 48px;
  text-align: justify;

  color: #767676;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
